<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">

    .container{
      width: 100%;
      border: 1px solid black;
    }
    header{
      height: 200px;
      border: 1px solid black;

    }
    .main_content{
      margin: 0 auto;
      padding: 1.5%;
      border: 1px solid black;

    }
    .image{
      width: 645px;
      height: 700px;
      border: 1px solid black;
      display: inline-block;

    }
    .register{
      width: 550px;
      height: 700px;
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;
    }
    .greeting{
      border: 1px solid black;
      height: 850px;
    }
  </style>
  <body>
    <div class="container">
      <header>

      </header>
      <div class="main_content">
        <div class="image">

        </div>
        <div class="register">
          <h2>Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name %>
            </div>

            <div class="field">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name %>
            </div>

            <div class="field">
              <%= f.label :dob %><br />
              <%= f.date_field :dob %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
        <div class="greeting">

        </div>
      </div>
      <div class="footer">

      </div>
    </div>
  </body>
</html>
