
<header>
  <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">Hello <%=current_user.first_name%>!</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>
         <%= form_tag(search_path, :method => "get", id: "search-form") do %>
           <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
           <% end %>
       </li>
       <li><%= link_to('Home', users_path )%></li>
       <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
     </ul>
   </div>
  </nav>
</header>
