<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <nav>
         <div class="nav-wrapper">
           <a href="#" class="brand-logo">Hello! <%=@user.first_name%></a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li>
               <%= form_tag(search_path, :method => "get", id: "search-form") do %>
                 <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
                 <% end %>
             </li>
             <li><%= link_to('Home', users_path )%></li>
             <li><a href="badges.html">Components</a></li>
             <li><a href="collapsible.html">JavaScript</a></li>
             <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
           </ul>
         </div>
       </nav>
     </header>
     <ul id="slide-out" class="side-nav">
         <li><div class="userView">
           <img class="background" src="/assets/dog1.jpg">
           <a href="/users/<%=@user.id%>"><img class="circle" src="<%= @user.avatar %>"></a>
           <a href="#!name"><span class="white-text name"><%=@user.first_name%></span></a>
           <a href="#!email"><span class="white-text email"><%=@user.email%></span></a>
         </div></li>
         <li><a href="/users/edit">Edit Profile</a></li>
         <li><a href="#!"><%if @kasa%><%= @kasa.name%><%end%></a></li>
         <li><div class="divider"></div></li>
         <li><a href="">Chongdae</a></li>
         <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
       </ul>
       <div class="main">
    <div class="row">
      <% if @users %>
        <%= render search_path %>
      <% end %>
         <div class="col s6">
           <h4>Random Member!</h4>
             <%if @feature%>
            <p><%=image_tag @feature.avatar.url(:thumb) %></p>
            <h5><%=@feature.first_name%> <%= @feature.last_name%></h5>
            <p><strong>PlaceHolder Description:</strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
            <%end%>
         </div>
         <div class="col s6">
           <form class="" action="/posts" method="post">
             <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
             <input type="hidden" name="user_id" value="<%=@user.id%>">
             <p>
               <input name="group1" type="radio" id="test1" value="1"/>
               <label for="test1">To Chongdae</label>
             </p>
             <p>
               <input name="group1" type="radio" id="test2" value="2"/>
               <label for="test2">To your Kasa</label>
             </p>
             <input type="text" name="post[text]" placeholder="Write your message...">
             <input type="submit" name="name" value="Post">
           </form>
         </div>
       </div>
       <div class="notices">
         <div class="row">
            <div class="col s6">
              <h4>Chongdae:</h4>
              <%@chongdaepost.each do |x|%>
              <p>
                <%=x.text%>
              </p>
              <%end%>
            </div>
            <div class="col s6">
              <%if @kasa%>
              <h4><%=@kasa.name%>:</h4>
              <%@kasapost.each do|p|%>
              <p>
                <%=p.user.first_name%> <%=p.user.last_name%>:<%=p.text%>
              </p>
              <%end%>
              <%end%>
            </div>
         </div>
       </div>
       <%  @org.each do |o| %>
         <a id="orgs" href="/organizations/<%=o.id%>">
           <div class="col s9">
             <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s2">
                      <img src="<%= o.avatar3 %>" alt="" class="circle responsive-img" height="" width="50%"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                      <span class="black-text">
                        <%= o.name %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </a>
       <%end%>
     </div>
       <%=link_to('Create Organization', new_organization_path)%>
    </div>
  </body>
</html>
