  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <%@sessions_index = true%>
  <body id="homepage">
  <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
        <div class="input-field">
        <a href="#!" class="brand-logo">Korean American Student Association</a>
        <a href="#" data-activates="mobile-Menu" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <li class="field">
            <input type="text" name="user[email]" placeholder="E-mail">
          </li>
          <li class="field">
            <input type="password" name="user[password]" placeholder="Password">
          </li>
          <li class="action">
            <%= f.submit "Log in", :class => 'btn #424242 grey darken-3'%>
          </li>
          <li>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name), :class => 'waves-effect waves-light btn #424242 grey darken-3' %>
            <% end -%>
          </li>
          <% end %>
          </ul>

          <ul class="side-nav #212121 grey darken-4" id="mobile-Menu">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <li class="field">
              <input type="text" name="user[email]" placeholder="E-mail">
            </li>
            <li class="field">
              <input type="password" name="user[password]" placeholder="Password">
            </li>
            <li class="action">
              <%= f.submit "Log in", :class => 'btn #424242 grey darken-3'%>
              <%= render "devise/shared/links" %>
            </li>
            <% end %>
          </ul>
        </div>
    </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col l12">
        <div class="images">
          <img src="https://cdn.vor.us/event/316922/og/4402c73d79fb40389881ae6210dd74ff.image!jpeg.1024718.jpg.IMG_9560.jpg">
        </div>
      </div>
    </div>
  </div>

<footer class="page-footer #212121 grey darken-4" style="padding-top: 0">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <p class="grey-text text-lighten-4">Head Developer: Jonathan Cho</p>
                <p class="grey-text text-lighten-4">Front End Developer: Joey Donggo Lee</p>
                <p class="grey-text text-lighten-4">Graphic Designer: Jaehee Lee</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Korean American Student Association
            </div>
          </div>
        </footer>
<!--     <footer>

    </footer> -->
  </body>
  </html>
