  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <%@sessions_index = true%>
  <body>
    <header>
        <div class="title">Korean American Student Association</div>
        <div class="login">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="action">
            <%= f.submit "Log in" %>
            <%= render "devise/shared/links" %>
          </div>
          <% end %>
        </div>
    </header>
  <div class="container">
    <div class="images">
      <div class="carousel carousel-slider" >
        <a class="carousel-item" href="#one!"><img src="http://trunkweed.com/uploads/posts/images/816100-artsy-wallpaper-tumblr-hd.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="https://s-media-cache-ak0.pinimg.com/736x/b5/d9/32/b5d932109d42b4f59347324ab597c178.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/400/food/3"></a>
        <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/400/food/4"></a>
      </div>
    </div>
  </div>
    <footer>
      <p>Developed by Jonathan Cho and Joey Lee</p>
    </footer>
  </body>
  </html>
