<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="register">
        <form class="" action="/organizations/<%=@org.id%>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input name="_method" type="hidden" value="patch" />
          <input type="hidden" name="id" value="<%=@org.id%>">
          <label>Description:</label>
          <input type="text" name="organization[description]" value="">
          <label>School Admin:</label>
          <input type="text" name="organization[school_admin]" value="">
          <input type="file" name="organization[avatar]" value="">
          <input type="file" name="organization[avatar2]" value="">
          <input type="submit" name="name" value="go">
        </form>
      </div>
      <br>
      <br>
      <div class="admin-dashboard">
        <div class="members-table">
          <%if @members%>
          <table class="striped">
              <tr>
                <th>Name:</th>
                <th>Email:</th>
                <th>Status:</th>
              </tr>
              <%@members.each do |x|%>
              <td><%=x.first_name%> <%=x.last_name%></td>
              <td><%=x.email%></td>
              <td><%=x.status%></td>
              <td><%= link_to('Remove User', remove_from_org , class: "waves-effect waves-light btn" )%></ld>
              <%end%>
          </table>
          <%end%>
        </div>
      </div>
    </div>
  </body>
</html>
