<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="admin-edit">
        <form class="" action="/organizations/<%=@org.id%>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input name="_method" type="hidden" value="patch" />
          <input type="hidden" name="id" value="<%=@org.id%>">
          <label>Description:</label>
          <input type="text" name="organization[description]" value="<%=@org.description%>">
          <!-- <label>School Admin:</label> -->
          <!-- <input type="text" name="organization[school_admin]" value=""> -->
          <div class="field">
            <label>Hero Image #1:</label>
            <input type="file" name="organization[avatar]">
          </div>
          <div class="field">
            <label>Hero Image #2:</label>
            <input type="file" name="organization[avatar2]" placeholder="Hero Image #2:">
          </div>
          <div class="field">
            <label>Staff/KASA Video URL:</label>
            <strong>Important!</strong>
            <p>
              When copying the Youtube URL you must do the following for the sake of uniformity.
            </p>
            <p>
              1. Click Share
            </p>
            <p>
              2. Click Embed
            </p>
            <p>
              3. Highlight and copt only the text BETWEEN the quotation marks (src="example.video/qogoebr")
            </p>
            <input type="text" name="organization[video_url]" value="<%=@org.video_url%>">
          </div>
          <input type="submit" name="name" value="go">
        </form>
      </div>
      <br>
      <br>
      <div class="admin-edit">
        <form class="" action="/logistics/<%=@org.id%>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input name="_method" type="hidden" value="patch" />
          <input type="hidden" name="id" value="<%=@org.id%>">
          <input type="text" name="logistic[meeting_location]" placeholder="Meeting Location:">
          <input type="text" name="logistic[next_meeting]" placeholder="Next Meeting Date: (Date) (Day of the Week)">
          <input type="text" name="logistic[time]" placeholder="Time: i.e(5:30 P.M)">
          <input type="submit" name="name" value="Update!">
        </form>
      </div>
      <br>
      <br>
      <div class="admin-dashboard">
        <div class="members-table">
          <%if @members%>
          <table class="striped">
              <tr>
                <th>Name:</th>
                <th>Email:</th>
                <th>Status:</th>
              </tr>
              <%@members.each do |x|%>
              <tr>
              <td><%=x.first_name%> <%=x.last_name%></td>
              <td><%=x.email%></td>

              <%if x.status == 1
                  @status = "Active Member"
                elsif x.status == 2
                  @status = "Member"
                elsif x.status == 3
                  @status = "Alumni"
                end%>
              <td><%=@status%></td>
              <td><form class="waves-effect waves-light btn" action="remove_from_org" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="id" value="<%=x.id%>">
                <input type="submit" name="" value="Banish Member">
              </form></td>
              <%end%>
            </tr>
          </table>
          <%end%>
        </div>
      </div>
    </div>
  </body>
</html>
