<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <nav>
         <div class="nav-wrapper">
           <a href="#" class="brand-logo">Hello! <%=@user.first_name%></a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li>
               <%= form_tag(search_path, :method => "get", id: "search-form") do %>
                 <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
                 <%= submit_tag "Search" %>
                 <% end %>
             </li>
             <li><%= link_to('Home', users_path )%></li>
             <li><a href="badges.html">Components</a></li>
             <li><a href="collapsible.html">JavaScript</a></li>
             <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
           </ul>
         </div>
       </nav>
     </header>
      <%= form_for @organization, url: organizations_path, html: { multipart: true } do |form| %>

        <div class="field">
          <%= form.label :name %>:
          <%= form.text_field :name %><br />
        </div>
        <div class="field">
          <%= form.label :school_origin%>
          <%= form.text_field :school_origin%>
        </div>
        <div class="field">
          <%= form.label :description%>
          <%= form.text_field :description%>
        </div>
        <div class="field">
          <label>Background Image 1:</label>
          <%= form.file_field :avatar %>
        </div>
        <div class="field">
          <label>Background Image 2:</label>
          <%= form.file_field :avatar2 %>
        </div>
        <div class="field">
          <label>Organization Thumbnail/School Logo:</label>
          <%= form.file_field :avatar3 %>
        </div>
        <%= form.submit "Go"%>
      <% end %>

    </div>
  </body>
</html>
