<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <%= form_for @organization, url: organizations_path, html: { multipart: true } do |form| %>

        <div class="field">
          <%= form.label :name %>:
          <%= form.text_field :name %><br />
        </div>
        <div class="field">
          <%= form.label :school_origin%>
          <%= form.text_field :school_origin%>
        </div>
        <div class="field">
          <%= form.label :description%>
          <%= form.text_field :description%>
        </div>
        <div class="field">
          <label>Background Image 1:</label>
          <%= form.file_field :avatar %>
        </div>
        <div class="field">
          <label>Background Image 2:</label>
          <%= form.file_field :avatar2 %>
        </div>
        <div class="field">
          <label>Organization Thumbnail/School Logo:</label>
          <%= form.file_field :avatar3 %>
        </div>
        <%= form.submit "Go"%>
      <% end %>

    </div>
  </body>
</html>
