<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@sessions_index = true%>
    <%=render "/partials/header"%>
    <div class="container">
      <%if flash[:message]%>
      <%=flash[:message]%>
      <%end%>
      <div class="parallax-container">
            <h1 id="org-title"><%=@org.name%></h1>
            <div class="buttons">
              <% if !current_user.org_id %>
                <div class="join">
                  <form class="btn waves-effect waves-light" action="/join" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="name" value="Join">
                  </form>
                </div>
                <%end%>
                <%if @org.user_id == @user.id%>
                <div class="join">
                  <form class="btn waves-effect waves-light" action="/organizations/edit" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="" value="Admin Controllers">
                  </form>
                </div>
                <div class="join">
                  <form class="btn waves-effect waves-light" action="/new_member" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="" value="Register New Member">
                  </form>
                </div>
                <%end%>
                </div>
        <div class="parallax">
          <img src="<%=@org.avatar%>" style="width:100%"; "height:200px">
        </div>
      </div>
      <div class="col hide-on-small-only m3 l2" id="scrollspy">
       <ul class="section table-of-contents">
         <li><a href="#introduction">About us</a></li>
         <li><a href="#logistics">Logistics</a></li>
         <li><a href="#ourmembers">Our Members</a></li>
       </ul>
     </div>
     <div id="title">
       <h1 class="right-align"><%=@org.school_origin%></h1>
     </div>
     <div class="section white">
       <div class="row container">
         <div id="introduction" class="section scrollspy">
            <h4 class="left-align">About Us:</h4>
            <h6 class="left-align"><%=@org.description%></h6>
         </div>
       </div>
     </div>
       <div class="parallax-container">
         <div class="parallax"><img src="<%=@org.avatar2%>" style="width:100%"; "height:200px"></div>
       </div>
       <div class="section white">
         <div id="logistics" class="section scrollspy">
           <div class="logistics">
             <h3 class="">Logistics:</h3>
             <%if x = @org.logistic%>
             <h4 class="">Meeting Location: <div class="info"><strong><h5><%=x.meeting_location%></h5></strong></div> </h4>
             <h4 class="">Next Meeting Date: <div class="info"><strong><h5><%=x.next_meeting%></h5></strong></div></h4>
             <h4 class="">Time: <div class="info"><strong><h5><%=x.time%></strong></h5></div></h4>
             <%end%>
           </div>
           <%if @org.video_url%>
             <div id="org-video">
               <iframe  width="700" height="315" src="<%=@org.video_url%>" frameborder="0" allowfullscreen></iframe>
             </div>
           <%end%>
         </div>
       </div>
       <div id="ourmembers" class="section scrollspy">
         <h4 class="center-align">Our Members:</h4>
         <div class="divider"></div>
         <div class="users">
           <div class="row">
             <div class="org-cards">
               <%@member.each do |x|%>
                 <div class="col s3">
                   <a href="/users/<%=x.id%>">
                     <div class="card">
                       <div class="card-image">
                         <%= image_tag x.avatar.url(:medium) %>
                       </div>
                       <div class="card-content">
                         <strong><%=x.first_name%></strong>
                       </div>
                     </div>
                   </a>
                 </div>
               <%end%>
             </div>
           </div>
         </div>
       </div>
    </div>
  </body>
</html>
