<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@sessions_index = true%>
    <%=render "/partials/header"%>
    <div class="container">
      <%if flash[:message]%>
      <%=flash[:message]%>
      <%end%>
      <div class="parallax-container">
            <h1><%=@org.name%></h1>
              <% if !current_user.org_id %>
                <div class="join">
                  <form class="btn waves-effect waves-light" action="/join" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="name" value="Join">
                  </form>
                </div>
                <%end%>
                <div class="edit">
                  <form class="btn waves-effect waves-light" action="/organizations/update" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="" value="Edit">
                  </form>
                </div>
                <%if @org.user_id == @user.id%>
                <div class="join">
                  <form class="btn waves-effect waves-light" action="/new_member" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="" value="Register New Member">
                  </form>
                </div>
                <%end%>
        <div class="parallax"><img src="<%=@org.avatar%>" style="width:100%"; "height:500px"></div>
      </div>
      <div class="col hide-on-small-only m3 l2" id="scrollspy">
       <ul class="section table-of-contents">
         <li><a href="#introduction">About us</a></li>
         <li><a href="#logistics">Logistics</a></li>
         <li><a href="#ourmembers">Our Members</a></li>
       </ul>
     </div>
     <div id="title">
       <h3 class="right-align"><%=@org.school_origin%></h3>
     </div>
     <div class="section white">
       <div class="row container">
         <div id="introduction" class="section scrollspy">
            <h4 class="left-align">About Us:</h4>
            <h6 class="right-align">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h6>
         </div>
       </div>
     </div>
       <div class="parallax-container">
         <div class="parallax"><img src="<%=@org.avatar2%>" style="width:100%"; "height:200px"></div>
       </div>
       <div id="logistics" class="section scrollspy">
         <h4 class="right-align">Logistics:</h4>
         <h6 class="right-align">Meeting Location:</h6>
         <h6 class="right-align">Next Meeting Date:</h6>
         <h6 class="right-align">Time:</h6>
       </div>
       <div id="ourmembers" class="section scrollspy">
         <h4 class="center-align">Our Members:</h4>
         <%if @member%>
         <%@member.each do |u|%>
           <div class="user">
             <div class="row">
               <div class="col s12 m6">
                 <a href="/users/<%=u.id%>">
                 <div class="card blue-grey darken-1">
                   <div class="card-content white-text">
                     <span class="card-title"><%=u.first_name%></span>
                     <%=image_tag u.avatar.url(:thumb) %>
                     <p>I am a very simple card. I am good at containing small bits of information.
                     I am convenient because I require little markup to use effectively.</p>
                   </div>
                 </div>
                 </a>
               </div>
             </div>
           </div>
           <%end%>
           <%end%>
       </div>
    </div>
  </body>
</html>
