<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/users/show">Return</a>
      </header>
      <div class="parallax-container">
            <h1><%=@org.name%></h1>
              <% if !current_user.org_id %>
                <div class="join">
                  <form class="btn waves-effect waves-light" action="/join" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="name" value="Join">
                  </form>
                </div>
                <%end%>
                <div class="edit">
                  <form class="btn waves-effect waves-light" action="/organizations/update" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="id" value="<%=@org.id%>">
                    <input type="submit" name="" value="Edit">
                  </form>
                </div>
        <div class="parallax"><img src="/assets/csulbkasa.jpg" style="width:100%"; "height:500px"></div>
      </div>
      <div class="col hide-on-small-only m3 l2" id="scrollspy">
       <ul class="section table-of-contents">
         <li><a href="#introduction">About us</a></li>
         <li><a href="#logistics">Logistics</a></li>
         <li><a href="#ourmembers">Our Members</a></li>
       </ul>
     </div>
     <div id="title">
       <h3 class="right-align"><%=@org.school_origin%></h3>
     </div>
     <div class="section white">
       <div class="row container">
         <div id="introduction">
            <h4 class="left-align">About Us:</h4>
            <h6 class="right-align">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</h6>
         </div>
       </div>
     </div>
       <div class="parallax-container">
         <div class="parallax"><img src="/assets/csulbkasa2.jpg" style="width:100%"; "height:200px"></div>
       </div>
       <div id="logistics">
         <h4 class="right-align">Logistics:</h4>
         <h6 class="right-align">Meeting Location:</h6>
         <h6 class="right-align">Next Meeting Date:</h6>
         <h6 class="right-align">Time:</h6>
       </div>
       <div id="ourmembers">
         <h4 class="center-align">Our Members:</h4>

       </div>
    </div>
  </body>
</html>
